body {
    font-family:'Courier New', Courier, monospace;
    background-color: black;
    color: yellow;
    border: 5px solid black;
    display: block;
    width: 60%;
}

header {
    display: block;
    position: relative;

}

.companyname {
    display: block;
    position: relative;
    float: right;
    text-align: top;
    margin-top: 75px;
    padding-left: 200px;
    font-size: 15px;
}

.navigation, li {
    background-color: black;
    color: blue;
    display: inline-block;
    position: relative;
    bottom: 25px;
    left: 275px;
    z-index: 0;
}

table {
    border: 2px solid white;
}

.navi, ol {
    list-style-type: none;
    padding: 0px;
}

a {
    font-size: 30px;
}

a:link {
    color: blue;
    background-color: black;
    text-decoration: none;
}

a:visited {
    color: blue;
    text-decoration: none;
}

a:hover {
    color: black;
    background-color: yellow;
    text-decoration: none;
}

a:active {
    color: blue;
    text-decoration: none;
}



.credits {
    display: block;
    text-align: center;
}



.container {
    display: inline-block;
    position: top;
    margin-top: 50px;
    text-decoration: none;
    color: yellow;
    width: 70%;
    height: auto;
    z-index: 1;
    margin: -100px auto;
    padding: 0px 0px 0px 350px;
}

.h1wip {
    text-decoration: underline;
    color: grey;
    display: inline-block;
    margin: -0px auto;
    padding: 0px;
    width: 30%;
    z-index: 0;
}

.btn_nav {
    background-color: black;
    color: blue;
    transition-duration: 0s;
    padding: 30px 30px;
    margin: 0px;
    font-size: 22px;
    display: inline-block;

}         
.btn_nav:hover {
        background-color: white;
        color: black;
        text-transform: uppercase;
 }

 #mainlogo {
    display: block;
    position: relative;
    float: left;
    padding: 0px;
    margin: 20px;
    height: 200px;
    width: 200px;
    z-index: 1;
}