body {
    font-family:'Courier New', Courier, monospace;
    background-color: black;
    color: yellow;
    border: 5px solid black;
    display: block;
    width: 60%;
}

header {
    display: block;
}

.companyname {
    text-align: left;
    padding: 0px 100px 75px 0px;
    margin: 0 auto;
    font-size: 15px;
}

.navigation, li {
    background-color: black;
    color: blue;
    padding-bottom: 5px;
    display: inline-block;
}

table {
    border: 2px solid white;
}

.navi, ol {
    list-style-type: none;
    padding-right: 50px;
}

a {
    font-size: 30px;
}

a:link {
    color: blue;
    background-color: black;
    text-decoration: none;
}

a:visited {
    color: blue;
    text-decoration: none;
}

a:hover {
    color: black;
    background-color: yellow;
    text-decoration: none;
}

a:active {
    color: blue;
    text-decoration: none;
}



.credits {
    display: block;
    text-align: center;
}



.container {
    display: inline-block;
    text-decoration: none;
    color: yellow;
    width: 70%;
    height: auto;
    z-index: 1;
    margin: -100px auto;
    padding: 0px 0px 0px 350px;
}

.h1wip {
    text-decoration: underline;
    color: grey;
    display: inline-block;
    margin: -0px auto;
    padding: 0px;
    width: 30%;
    z-index: 0;
}

.btn_nav {
    background-color: black;
    color: blue;
    transition-duration: 0.4s;
    padding: 30px 30px;
    font-size: 22px;
}         
.btn_nav:hover {
        background-color: white;
        color: black;
        text-transform: uppercase;
      }
}